certifi==2020.12.5
chardet==4.0.0
idna==2.10
joblib==1.0.0
numpy==1.22.0
pandas==1.1.5
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
scikit-learn==0.24.0
scipy==1.5.4
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
urllib3==1.26.5
