---
layout: default
title: Unsupervised Projection Models
---
<h2>Unsupervised Projection Models</h2>

<b>Unsupervised Projection Models</b> these methods fracture the input feature space using randomly drawn hyperplanes independently of the data distribution. Given the random nature of the learning procedure they are the fastest models at training time but suffer from the disadvantage of requiring long hashcodes and many hashtables to attain a reasonable level of retrieval effectiveness.

{% assign publicationsList = site.data.morantaxonomy | sort: "bibkey" %}
<table id="patternModelTable">
<thead><th>Name</th><th>Codebook</th><th>Architecture</th><th>Optimisation</th></thead>
<tbody>
{% for publication in publicationsList %}{% if publication.categories contains "independent" %}
    {% assign pubDetails = site.publications | where:"bibkey", publication.bibkey %}
    
      <tr>
          <td data-order="{{publication.bibkey}}"><a href="/publications/{{publication.bibkey}}">{{pubDetails[0].authors}}, {{pubDetails[0].year}}.</a> {{pubDetails[0].title}}</td>
          <td>{{publication.codebook}}</td>
          <td>{{publication.type}}</td>
          <td>{{publication.optimisation}}</td>
      </tr>
{% endif %}{% endfor %}
</tbody></table>

<script>
$(document).ready( function () {
    $('#patternModelTable').DataTable({paging: false,});
} );
</script>
