---
layout: default
title: Supervised Hashing Models
---

## Supervised Hashing Models

**Supervised Hashing Models** make use of semantic supervision, such as class labels or pairwise constraints (must-link and cannot-link), to guide the learning process. By leveraging this additional information, these models optimize the hashing process to ensure that related data points are grouped together into the same hashtable buckets. While these models often achieve the best retrieval performance, they require manually labeled data, which can be time-consuming and difficult to gather.

Below is a list of key publications related to supervised hashing models:

{% assign publicationsList = site.data.morantaxonomy | sort: "bibkey" %}
<table id="genModelTable">
  <thead>
    <tr>
      <th>Paper</th>
      <th>Architecture</th>
      <th>Modality</th>
    </tr>
  </thead>
  <tbody>
    {% for publication in publicationsList %}{% if publication.categories contains "Supervised" %}
      {% assign pubDetails = site.publications | where:"bibkey", publication.bibkey %}
        <tr>
          <td data-order="{{publication.bibkey}}"><a href="/publications/{{publication.bibkey}}">{{pubDetails[0].authors}}, {{pubDetails[0].year}}.</a> {{pubDetails[0].title}}</td>
          <td>{{publication.type}}</td>
          <td>{{publication.modality}}</td>
        </tr>
    {% endif %}{% endfor %}
  </tbody>
</table>

<script>
  $(document).ready( function () {
      $('#genModelTable').DataTable({paging: false});
  });
</script>
