---
layout: default
title: Unsupervised Hashing Models
---

## Unsupervised Hashing Models

**Unsupervised Hashing Models** tackle the problem of data retrieval by leveraging the underlying structure of the data without relying on manually provided labels. These models often employ techniques like covariance matrix factorization or clustering to group similar data points. As a result, they achieve a solid balance in retrieval effectiveness, typically performing better than data-independent models but not quite reaching the efficiency of supervised models. However, the computational cost of training, especially due to matrix factorization, can be quite high.

Below is a curated list of key publications on unsupervised hashing models:

{% assign publicationsList = site.data.morantaxonomy | sort: "bibkey" %}
<table id="patternModelTable">
  <thead>
    <tr>
      <th>Paper</th>
      <th>Architecture</th>
    </tr>
  </thead>
  <tbody>
    {% for publication in publicationsList %}{% if publication.categories contains "Unsupervised" %}
      {% assign pubDetails = site.publications | where:"bibkey", publication.bibkey %}
        <tr>
          <td data-order="{{publication.bibkey}}"><a href="/publications/{{publication.bibkey}}">{{pubDetails[0].authors}}, {{pubDetails[0].year}}.</a> {{pubDetails[0].title}}</td>
          <td>{{publication.type}}</td>
        </tr>
    {% endif %}{% endfor %}
  </tbody>
</table>

<script>
  $(document).ready( function () {
      $('#patternModelTable').DataTable({paging: false});
  });
</script>
