---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <h5>{{ page.authors }}. {{ page.conference }} {{ page.year }}</h5>
      {% for additional_link in page.additional_links %}
			[<a href="{{ additional_link.url }}">{{ additional_link.name }}</a>]
      {% endfor %}
      </p>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      
     <p>{{ content }}</p>
</div>
